{% extends "base.html.twig" %}

{% block title %}
  Pagina1
{% endblock %}

{% block body %}
  <div {{ react_component('Contacto', {firstName: name}) }}>
    <p>Loading ...</p>
  </div>
{% endblock %}