{% extends "base.html.twig" %}

{# / ou /home #}

{% block title %}
  Home | StreamVibe
{% endblock %}

{% block body %}
    {# HOME PAGE HERE #}
    <main {{ react_component('pages/Home/Home') }} class=''>
        <div class=''>Loading ...</div>
    </main>
{% endblock %}
