{% extends "base.html.twig" %}

{# / ou /home #}

{% block title %}
  Home | StreamVibe
{% endblock %}

{% block link %}
{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <main {{ react_component('home', {name: "StreamVibe Team"}) }} class=''>
        <div class=''>Loading ...</div>
    </main>
{% endblock %}
