{% extends 'base.html.twig' %}

{# /movies/details/{movieId} #}

{% block title %}
  Details | StreamVibe
{% endblock %}

{# MOVIE DETAILS PAGE HERE #}
{#
    array available for consumption:

    {{ movieDetails }} = all details of the movie in question
    {{ personsFromMovie }} = all persons of the movie in question
#}
{% block body %}
    {# uncomment here when make the MoviesDetailsController. jsx|tsx
    <div {{ react_component('MoviesDetailsController', {details:moviesDetails}) }}>
           <p>Loading ...</p>
    </div>
    #}
{% endblock %}

