{% extends 'base.html.twig' %}

{# /movies/details/{movieId} #}

{% block title %}
  Details | StreamVibe
{% endblock %}

{# MOVIE DETAILS PAGE HERE #}
{#
    array available for consumption:

    {{ movieDetails }} = all details of the movie in question
    {{ personsFromMovie }} = all persons of the movie in question
#}
{% block body %}

 {# Page Movie Here #}
 <div {{ react_component('pages/Movies/Detalhes', {movieDetails:movieDetails}) }}>
        <p>Loading ...</p>
 </div>

{% endblock %}

