{% extends "base.html.twig" %}

{# /movies/show/{query}/{page} #}

{% block title %}
  Movies | StreamVibe
{% endblock %}

{# MOVIE SHOW PAGE HERE #}
{#
    array available for consumption:

    {{ movies }} = all research related movies
#}

{# I left this below just so you have an example #}
{% block body %}

 {# Page Movie Here #}
 <div {{ react_component('pages/Movies/Movies', {movies:movies}) }}>
        <p>Loading ...</p>
 </div>

{% endblock %}
