{% extends 'base.html.twig' %}

{# /person/movies/{personId} #}

{% block title %}
  Actor | StreamVibe
{% endblock %}

{# MOVIES FROM PERSON PAGE HERE #}
{#
    array available for consumption:
    {{ moviesFromPerson }} = all movies made by the actor in question
#}
{% block body %}
    {# uncomment here when make the PersonController. jsx|tsx
    <div {{ react_component('PersonController', {person:moviesFromPerson}) }}>
           <p>Loading ...</p>
    </div>
    #}
{% endblock %}
